/* style.css */
@import "partials/variables.css";
@import "partials/global.css";
@import "partials/header.css";
@import "partials/footer.css";
@import "partials/blocks.css";
@import "partials/utilities.css";
@import "home.css";

:root {
  --alert-closure: #cb2027;
  --alert-caution: #ed7e31;
  --alert-information: #2451a9;
  --alert-danger: #720f04;
  --bs-grey-3: #ccc;
}
#park-footer {
  background-image: url("./topo_pattern.png");
  background-repeat: repeat;
  
  padding: 2rem;
  min-height: 150px; 
}